@font-face {
  font-family: "TTlakesLight";
  src: url('fonts/TTLakesCompressed-Light.ttf');
}

@font-face {
  font-family: "TTlakesBold";
  src: url('fonts/TTLakes-Bold.ttf');
}

@font-face {
  font-family: "TTlakesReg";
  src: url('fonts/TTLakes-Regular.ttf');
}

@font-face {
  font-family: "TTlakesRegD";
  src: url('fonts/TTLakesCondensed-Regular.ttf');
}

.invisible {
  display: none;
}
.first {
  display: block;
}

@media (min-width:768px){
  .invisible {
    display: block;
  }
  .first {
    display: none;
  }
  
}

.laptopOnly {
  display: none;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
@media (min-width: 1120px) {
  .body {
    width: 1120px;
  }
}

.header__divider {
  height: 32px;
  border: 1px solid #EAEAEA;
  align-self: center;
}


header {
  display: flex;
  padding: 24px 16px 24px 16px;
  justify-content: space-between;
  align-items: center;
}

.header__button--call {
  margin-left: 250px;

}

.header__divider {
  height: 32px;
  border: 1px solid #EAEAEA;
  align-self: center;
}

.header__button {
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  border: none;
  background-position: 50% 50%;
}

.header__button--burger {
  background-image: url("img/burger.svg");
}

.header__button--repair {
  background-image: url("img/repair.svg");
}

.header__button--checksts {
  background-image: url("img/status.svg");
}

.header__button--call {
  background-image: url("img/call.svg");
}

.header__button--chat {
  background-image: url("img/chat.svg");
}

.header__button--profile {
  background-image: url("img/profile.svg")
}

@media (min-width:1120px){
  header{
    display: none;
  }
  .laptopOnly {
    display: block;
  }
}


.main {
  font-family: TTlakeslight;
  overflow: hidden;
}


.main__title {
  width: 288px;
  font-family: TTlakesBold;
  border-left: 6px solid #41F6D7;
  border-radius: 5px;
}



.main__title h1{
  margin-top: 24px;
  margin-left: 16px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}

@media (min-width:1120px){
  .main__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main__title div {
    width: 373px;
    display: flex;
    margin-right: 32px;
  }

  .main__title--button-repair,
  .main__title--button-checker {
    display: flex;
    align-items: center;

  }
  

  .main__title--button-repair p,
  .main__title--button-checker p {
    font-size: 16px;
    font-weight: 500;
    padding-right: 8px;
    white-space: nowrap;
  }
}

.main__nav ul {
  padding-left: 16px;
  display: flex;
  list-style: none;
  color: #7E7E82;
  font-size: 16px;
  overflow: scroll;
  margin-bottom: 0px;
  
}

.main__nav ul::-webkit-scrollbar {
  display: none;
}

@media (min-width:1120px){
  .main__nav ul {
    display: flex;
    flex-direction: row;
    overflow: visible;
  }
}

.main__nav li {
  width: 220px;
  height: 24px;
  padding: 8px 9px 8px 16px;
  white-space: nowrap;
  margin-right: 28px;
}

.main__nav li:active {
  border-radius: 6px;
  border: 2px solid #B8FFEC;
  background: #FFF;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
}
@media (min-width:768px){
  .main__content {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width:1120px){
  .main__content {
    display: flex;
    flex-direction: row;
  }
}

.content__text p {
  padding: 0;
  margin: 0px;
}

.content__text {
  padding: 24px 16px 16px 16px;
}
@media (min-width:768px){
  .content__text {
    display: flex;
    flex-direction: column;
  }
}



.main__expand {
  margin-top: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  background-color: #fff;
}

.main__photo {
  width: 100%;
  align-items: center;
}
@media (min-width:768px){
  .main__photo {
    width: 360px;
    margin-right: 25px;
    margin-top: 14px;
  }
}
@media (min-width:1120px){
  .main__photo {
    margin-top: 16px;
    margin-right: 29px;
    width: 531px;
  }
}


.content__text p:nth-child(3) {display: none;}

@media (min-width:1120px){
  .content__text p:nth-child(3) {display: block;}
  .content__text {margin-right: 20px;} 
}




